@charset "UTF-8";
/*Colors*/
/*Size*/
/*Fonts*/
@font-face {
  font-family: 'Bebas Neue';
  src: url("../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'Open Sans bold';
  src: url("../assets/fonts/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans regular";
  src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

body {
  font-family: "Open Sans regular";
  font-size: 18px;
}

.header {
  padding-top: 22px;
  height: 960px;
  background-image: url(/assets/img/bgimage.jpg);
  background-size: cover;
  /*налаштувати*/
  background-repeat: no-repeat;
}

.header-top-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-row .logo img {
  width: 55px;
  height: 55px;
}

.header-top-row .menu {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top-row .menu li {
  list-style: none;
  color: #ffffff;
  font-size: 12px;
  font-family: "Open Sans bold";
  line-height: 16px;
  text-transform: uppercase;
}

.header-top-row .menu li a {
  text-decoration: none;
  color: #ffffff;
}

.header-top-row .langs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top-row .langs .langs__btn {
  position: relative;
  font-family: "Open Sans bold";
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  outline: none;
  color: #ffffff;
  background: transparent;
  border: none;
  padding: 0;
  padding-right: 23px;
}

.header-top-row .langs .langs__btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 30px;
  opacity: 0.5;
  background: #ffffff;
  right: 0;
  bottom: 0;
}

.header-top-row .langs .langs__btn .icon {
  font-size: 10px;
  color: #ffffff;
  margin-left: 3px;
}

.header-top-row .langs .langs-dropdown {
  display: none;
  padding: 3px 5px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65px;
  position: absolute;
  opacity: 0.7;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  left: -1px;
  width: 45px;
  top: 100%;
}

.header-top-row .langs .langs-dropdown .langs-dropdown__btn {
  text-align: left;
  height: 20px;
  font-family: "Open Sans bold";
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  outline: none;
  color: #ffffff;
  background: transparent;
  border: none;
  padding: 0;
}

.header-top-row .header-links {
  margin-left: 25px;
}

.header-top-row .header-links a {
  width: 30px;
  height: 30px;
  margin-right: 18px;
}

.header-top-row .header-links a:last-child {
  margin-right: 0;
}

.header-top-row .header-links a img {
  width: 30px;
  height: 30px;
}

.header-middle-row {
  margin: 238px 0 364px;
  text-align: center;
  /*!!!!!!!!!!!!!!!*/
  color: #ffffff;
}

.header-middle-row .header__title {
  font-family: "Bebas Neue";
  font-size: 80px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.header-middle-row .header__subtitle {
  font-family: "Bebas Neue";
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 24px;
  margin-bottom: 24px;
}

.header-middle-row .cta {
  position: relative;
  padding: 0;
  width: 260px;
  height: 60px;
  border-radius: 4px;
  background: linear-gradient(183.46deg, #ffb548 11.27%, #f3af34 90.4%);
  outline: none;
  border: none;
}

.header-middle-row .cta__title {
  position: relative;
  /*!!!!!!!!!!!!!!!*/
  font-family: "Open Sans bold";
  margin-right: 26px;
  line-height: 22px;
  color: #1a1917;
  font-size: 16px;
}

.header-middle-row .cta__title::after {
  display: block;
  position: absolute;
  content: "";
  top: -4px;
  /*!!!!!!!!!!!!!!!*/
  left: 165px;
  /*!!!!!!!!!!!!!!!*/
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  /*!!!!!!!!!!!!!!!*/
  display: block;
  width: 2px;
  height: 30px;
  opacity: 0.6;
  background: #1a1917;
}

.header-middle-row .cta__price {
  position: relative;
  /*!!!!!!Ще сказати на великому екрані картинка ріжеться БГ!!!!!!!!!*/
  font-family: "Open Sans bold";
  font-size: 16px;
  color: #1a1917;
  line-height: 22px;
}
