/*Colors*/
$dark_tangerine: linear-gradient(183.46deg, #ffb548 11.27%, #f3af34 90.4%);

/*Size*/
$h1_size: 80px;
$h2_size: 36px;
$h3_size: 24px;
$regular_size: 18px;
$subtext_size: 14px;
$mainButton_size: 16px;
$nav_size: 12px;

/*Fonts*/
$title_font: "Bebas Neue";
$regular_font: "Open Sans regular";
$bold_font: "Open Sans bold";
