@import "variables.scss";
@import "fonts.scss";

body {
	font-family: $regular_font;
	font-size: $regular_size;
}

.header {
	padding-top: 22px;
	height: 1050px;
	background-image: url("../assets/img/bgimage1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 100%;
	margin-bottom: -2px; /*!!!!*/
	&-top-row {
		align-items: center;

		.logo {
			img {
				width: 55px;
				height: 55px;
			}
		}

		.menu {
			margin: 0;
			display: flex;
			justify-content: space-between;

			li {
				list-style: none;
				color: #ffffff;
				font-size: 12px;
				font-family: $bold_font;
				line-height: 16px;
				text-transform: uppercase;

				a {
					text-decoration: none;
					color: #ffffff;
				}
			}
		}

		.langs {
			position: relative;
			display: flex;

			.langs__btn {
				position: relative;
				font-family: $bold_font;
				font-weight: bold;
				font-size: 12px;
				line-height: 16px;
				text-transform: uppercase;
				outline: none;
				color: #ffffff;
				background: transparent;
				border: none;
				padding: 0;
				padding-right: 23px;

				&::after {
					content: "";
					display: block;
					position: absolute;
					width: 1px;
					height: 30px;
					opacity: 0.5;
					background: #ffffff;
					right: 0;
					bottom: 0;
				}

				.icon {
					font-size: 10px;
					color: #ffffff;
					margin-left: 3px;
				}
			}

			.langs-dropdown {
				display: none;
				padding: 3px 5px 8px;
				display: flex;
				flex-direction: column;
				width: 65px;
				position: absolute;
				opacity: 0.7;
				background: rgba(0, 0, 0, 0.75);
				border-radius: 3px;
				left: -1px;
				width: 45px;
				top: 100%;

				.langs-dropdown__btn {
					text-align: left;
					height: 20px;
					font-family: $bold_font;
					font-weight: bold;
					font-size: 12px;
					line-height: 16px;
					text-transform: uppercase;
					outline: none;
					color: #ffffff;
					background: transparent;
					border: none;
					padding: 0;
				}
			}
		}

		.header-links {
			margin-left: 25px;

			a {
				width: 30px;
				height: 30px;
				margin-right: 18px;

				&:last-child {
					margin-right: 0;
				}

				img {
					width: 30px;
					height: 30px;
				}
			}
		}
	}

	&-middle-row {
		margin: 238px 0 364px;
		text-align: center; /*!!!!!!!!!!!!!!!*/
		color: #ffffff;

		.header__title {
			font-family: $title_font;
			font-size: $h1_size;
			font-style: normal;
			font-weight: bold;
			margin-bottom: 0;
			line-height: 80px;
			letter-spacing: 3px;
			text-transform: uppercase;
		}

		.header__subtitle {
			font-family: $title_font;
			font-size: $h3_size;
			letter-spacing: 2px;
			line-height: 24px;
			margin-bottom: 24px;
		}

		.cta {
			position: relative;
			padding: 0;
			width: 260px;
			height: 60px;
			border-radius: 4px;
			background: $dark_tangerine;
			outline: none;
			border: none;

			&__title {
				position: relative; /*!!!!!!!!!!!!!!!*/
				font-family: $bold_font;
				margin-right: 26px;
				line-height: 22px;
				color: #1a1917;
				font-size: $mainButton_size;

				&::after {
					display: block;
					position: absolute;
					content: "";
					top: -4px; /*!!!!!!!!!!!!!!!*/
					left: 165px; /*!!!!!!!!!!!!!!!*/
					transform: rotate(-20deg); /*!!!!!!!!!!!!!!!*/
					display: block;
					width: 2px;
					height: 30px;
					opacity: 0.6;
					background: #1a1917;
				}
			}

			&__price {
				position: relative; /*!!!!!!Ще сказати на великому екрані картинка ріжеться БГ!!!!!!!!!*/
				font-family: $bold_font;
				font-size: $mainButton_size;
				color: #1a1917;
				line-height: 22px;
			}
		}
	}

	.header-bottom-row {
		text-align: center;
		margin-bottom: 60px;

		.story-btn {
			width: 100%;
			height: 25px;
			border: none;
			background: none;
			outline: none;

			.story-btn__text {
				font-family: $bold_font;
				font-size: $nav_size;
				text-transform: uppercase;
				line-height: 22px;
				text-align: justify;
				text-align: center;
				color: #ffffff;
			}
		}
	}
}

.about {
	background: url("../assets/img/bgimage2.png");
	height: 1050px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;

	padding-top: 190px;

	.description-left {
		padding-top: 65px;
		&__title {
			font-family: $title_font;
			color: #ffffff;
			text-transform: uppercase;

			&--top {
				line-height: 24px;
				letter-spacing: 2px;
				font-size: $h3_size;
			}

			&--bot {
				letter-spacing: 3px;
				line-height: 80px;
				font-size: $h1_size;

				&::after {
					content: "";
					display: block;
					position: absolute;
					border-radius: 4px;
					height: 3px;
					width: 711px;
					z-index: 20;
					background: #ffffff;
				}
			}
		}

		&__text {
			color: #ffffff83;
			font-family: $regular_font;
			font-size: $regular_size;
			line-height: 22px;
			width: 364px;
			height: 174px;
			text-align: justify;
			margin-left: auto;

			&--snow {
				color: #ffffff;
			}

			&::after {
				height: 4px;
				content: "";
				background: $dark_tangerine;
				display: block;
				width: 118px;
				margin-left: 78px;
			}
		}
	}

	.description-right {
		.gallery {
			position: relative;
			width: 502px;
			height: 610px;
			.gallery-content {
				height: 100%;
				&__img {
					position: absolute;
					background-position: 0 100%;
					background-size: cover;
					border-radius: 20px;

					&--img1 {
						width: 100%;
						height: 100%;
						z-index: 3;
						left: 0;
						top: 0;
					}

					&--img2 {
						width: calc(100% - 64px);
						height: calc(100% - 47px);
						left: 97px;
						top: 25px;
						z-index: 2;
					}

					&--img3 {
						width: calc(100% - 64px);
						height: calc(100% - 99px);
						left: 130px;
						top: 53px;
						z-index: 1;
					}
				}
			}

			.gallery-navigation {
				justify-content: flex-end;
				display: flex;
				width: calc(100% + 128px);
				position: absolute;
				bottom: 50%;
				transform: translateY(50%);
				cursor: pointer;
				
			}
		}
	}
}
